.task-container {
   width: 350px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border:1px solid crimson;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    background-color:  #fde8ec;
    
}
.task-title{
    margin: 2px;
}
.task-description{
    margin: 5px;
}
.task-priority{
    position: absolute;
    right: 0;
    top:0;
    background-color: crimson;
    color: white;
    border-radius: 0 10px 0 0;
    padding: 2px;
    width: 100px;
    font-weight: bold;
}
.delete-img{
    height: 25px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}