.container{
    padding:10px;
    margin:0;
   
    min-height: 100vh;
}
.app-title{
    color: white;
    font-weight:bold;
    text-align: center;
    background-color:  #ff3385;
    width:500px;
    padding: 10px 50px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.todo-flex-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.task-input{
    display: block;
    width:300px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 30px 10px;
}
.btn-add-task{
    background-color: #ff3385;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 5px;
    border: none;
    width:120px;
    color:white;
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
    border:2px solid #800033;
}
.btn-container{
    display: flex;
    justify-content: space-around;
}
.tasks-container{
   
    height: 400px;
    overflow-y: scroll;
}
.tasks-container::-webkit-scrollbar {
    width: 5px;
}

@media screen and (min-width:300px) and (max-width:600px){
    .app-title{
        width:200px;
        font-size: 20px;
    }
}